:root{
  --default-font-family: "Poppins", sans-serif;
  --main-color: #272044;
}

body{
  font-family: var(--default-font-family);
  color: var(--main-color);
}

.container{
  max-width: 1400px;
  margin: 0 auto;
}

.grid{
  display: grid;
  grid-gap: 65px;
}

.text-center{
  text-align: center;
}

.image-responsive{
  width: 100%;
  display: block;
  border-radius: 3px;
}
.grid-2-columns{
  grid-template-columns: 1fr 1fr;
}

.footer-grid-3-columns{
  grid-template-columns: 1fr 2fr 2fr;

}

.grid-3-columns{
  grid-template-columns: 1fr 1fr 1fr;
}

.cafe-card{
  background: white;
  margin: 30px 0;
}

.cafe-header.grid{
  grid-gap:0;
}

.card-body{
  padding: 30px;
}

.cafe-footer{
  padding: 0 30px 30px;
}

.btn{
  display: block;
  color: white;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
   url('../images/hero-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 210px 0;

}

header h1{
  margin: 30px 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
}

header h2{
margin: 0;
font-weight: 400;
font-size: 40px;
line-height: 1.5;

}
header h3{
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;

}

header a{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--main-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  text-decoration: none;
  background: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}

section{
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.second-section{
  background: #f8f8f8;
}

main{
  background-color: white;
}

main h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: var(--main-color);
  opacity: 0.3;
  text-transform: uppercase;
}

main h3{
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: var(--main-color);
  margin: 0;
}

main h4{
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  margin: 0;
  font-size: 24px;
}

main h5{
  font-weight: 700;
  margin: 0;
  line-height: 1;
  color: var(--main-color);
  font-size: 12px;
}

main p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
  opacity: 0.7;
}

footer{
  background-image: linear-gradient(rgba(39,32,68,0.8), rgba(39,32,68,0.8)), url('../images/footer-image.png');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

footer ul{
  padding: 0;
}

footer li{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a{
  color: white;
  opacity: 0.7;
}

footer h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

}

footer p{
font-weight: 400;
font-size: 16px;
opacity: 0.7;
line-height: 24px;
}

@media(max-width: 900px) {
  header{
    padding: 60px 0;
  }
  header h1{
    font-size: 48px;
  }
  header h2{
    font-size: 20px;
  }
  header h3{
    font-size: 12px;
  }
}